height = 40px
progressBackgroundColor = rgba(255, 255, 255, .3)
progressForegroundColor = rgba(255, 255, 255, .2)

.neils-video-embed-container
  font-family sans-serif
  color #888

.neils-video-vid-container
  position relative

  video
    width 100%
    display block 

.neils-video-play-bar
  position absolute
  width 100%
  height height
  box-sizing border-box
  overflow hidden
  cursor pointer
  bottom 0
  background rgba(255, 255, 255, .3)
  opacity 0
  transition opacity 300ms ease

.neils-video-vid-container:hover
  .neils-video-play-bar
    opacity 1

.neils-video-play-bar-loaded-container
  position absolute
  top 5px
  bottom 5px
  left 5px
  right 5px

.neils-video-play-bar-loaded
  position absolute
  left 0
  top 0
  bottom 0
  box-sizing border-box
  background rgba(255, 255, 255, .3)
  z-index 1

.neils-video-progress-bar-container
  position absolute
  top 0
  left 0
  bottom 0

.neils-video-progress-bar
  position absolute
  left 0
  height 100%
  background: repeating-linear-gradient( 
    -45deg, 
    progressForegroundColor, 
    progressForegroundColor 5%, 
    shade(progressForegroundColor, 5%) 5%, 
    shade(progressForegroundColor, 5%) 10%, 
    progressBackgroundColor 10%) top left fixed;
  background-size 40px 40px
  z-index 2

.neils-video-play-bar-embelishement
  position: absolute;



.neils-video-play-head
  position absolute
  height 100%
  background rgba(255, 255, 255, .8)
  cursor grab

  &[data-is-dragging="true"]
    cursor grabbing

.neils-video-play-head-label
  position absolute
  top 0
  padding 0 5px;
  height 100%
  line-height height
  color white
  user-select none
  text-shadow 0 0 3px rgba(0,0,0,.5)

.neils-video-heatmap
  position relative
  margin-top 10px
  height 40px
  width 100%

.neils-video-heatmap-moment
  position absolute
  height 100%
  background rgba(0, 0, 0, .05)

  &[data-played="1"]
    background #f4eb8c 

  &[data-played="2"]
    background #f5d371 

  &[data-played="3"]
    background #f4b264 

  &[data-played="4"]
    background #f8875f 

  for i in (5..15)
    &[data-played=\"{i}\"]
      background #ea5849 
    
.neils-video-stats
  margin-top 10px
  margin-bottom 10px

  &.exceeded
    color red

.neils-video-aux-container
  padding 5px
